.page__screen {
    display: flex;
}

.page__screen main {
    margin: 0 auto;
}

.dashboard__actions {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.dashboard__list ul {
    width: 100%;
    max-width: 1000px;
}

.dashboard__list ul li button {
    font-weight: bolder;
}

.dashboard__list ul li.done button {
    font-weight: lighter;
}

.dashboard__list ul li {
    display: grid;
    margin: .2rem 0;
    place-items: center;
    border-radius: 6px;
    background: white ;
    grid-gap: 2rem;
    grid-template-columns: 1fr 6fr 3fr 6fr 1fr 2fr;
    padding: 1rem;
    font-weight: bolder;
}

.dashboard__list ul .done {
    background: #E5E5E5;
    font-weight: lighter;
}

.category {
    border-radius: 6px;
    padding: .4rem 0;
    width: 8rem;
    text-align: center;
}

.food {
    background: #D4927F;
    color: white;
}

.hygiene {
    background: #8FBCDF;
    color: white;
}

.clothes {
    background: #9849A5;
    color: white;
}

.fruits {
    background: #FFAE2C;
    color: white;
}

.others {
    background: #5e5e5e;
    color: white;
}
  