.page__screen {
    display: flex;
}

.page__screen main {
    margin: 0 auto;
}

.dashboard__actions {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    width: 100%;
}

.dashboard__actions select {
    padding: .3rem 4rem;
    margin-left: .4rem;
}

.dashboard__list ul {
    width: 100%;
    max-width: 1000px;
}

.dashboard__list ul li button {
    font-weight: bolder;
}

.dashboard__list ul li.done button {
    font-weight: lighter;
}

.dashboard__list ul li {
    display: grid;
    margin: .2rem 0;
    place-items: center;
    border-radius: 6px;
    background: white ;
    grid-gap: 2rem;
    grid-template-columns: 1fr 6fr 3fr 6fr 1fr 1fr;
    padding: 1rem;
    font-size: 15px;
    font-weight: bolder;
}

.dashboard__list li .date {
    font-size: 13px;
}

.dashboard__list ul .done {
    background: #E5E5E5;
    font-weight: lighter;
}
.dashboard__list .delete {
    color: crimson;
    font-size: 1rem;
}
/* .dashboard__list .edit, .dashboard__list .delete {
    padding: .2rem 1rem;
} */

.category {
    border-radius: 6px;
    padding: .4rem 0;
    width: 8rem;
    text-align: center;
}

.food {
    background: #D4927F;
    color: white;
}

.hygiene {
    background: #8FBCDF;
    color: white;
}

.drinks {
    background: #a59f49;
    color: white;
}

.clothes {
    background: #9849A5;
    color: white;
}

.fruits {
    background: #FFAE2C;
    color: white;
}

.others {
    background: #5e5e5e;
    color: white;
}

@media screen and (max-width: 690px) {
    .date span {
        display: none;
    }
    .category {
        width: 4rem;
    }
    .dashboard__list ul li {
        grid-gap: .5rem;
    }
    .dashboard__actions select {
        padding: .3rem 2rem;
        margin-left: .4rem;
    }
}