.navbar-logged {
    background: #8FC89C;
}

.navbar-logged__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem .8rem;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.navbar-logged__logo {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
}

.navbar-logged__logo span {
    color: #3E721D;
}

.navbar-logged__links .btn-light {
    margin-right: 1.2rem;
}

.navbar-logged__links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logged__links .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2rem;
}

.navbar-logged__links .profile img {
    width: 100% !important;
}

.navbar-logged__profile-drop {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    background: white;
    /* padding: 1rem; */
    box-shadow: 0 0 10px #ccc;
    width: 100px;
}

.navbar-logged__profile-drop li {
    width: 100%;
    padding: 1rem 2rem;
}

.navbar-logged__profile-drop li:hover {
    background: #8FC89C;
}
