.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem .8rem;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
}

.navbar__logo {
    text-transform: uppercase;
    color: #C45212;
    font-weight: bolder;
    font-size: 1.8rem;
}

.navbar__logo span {
    color: #015EA7;
}

.navbar__links .btn-light {
    margin-right: 1.2rem;
}

@media screen and (max-width: 560px) {
    .navbar__links .btn-light {
        margin: 0 .1rem 0 .5rem !important;
    }
}