.signin-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

  @media screen and (max-width: 560px) {
    .signin-page {
      width: 100%;
    }
  }