*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
}

.page {
  background: #F3F3F3;
  height: 100vh;
}

.card {
  color: white;
  height: 500px;
  width: 80%;
  max-width: 1000px;
  background: #C45212;
  border-radius: 6px;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.card h2,
.card p,
.card footer {
  text-align: center;
}

.card > div {
  overflow: hidden;
  width: 50%;
}

.card > div form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__left {
  position: relative;
}

.card__left h3 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  line-height: 2rem;
}

.card__right {
  padding: 2rem;
}

.form label {
  padding: 1rem 0 .2rem 0;
  text-align: left !important;
}

.form button {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.form a {
  color: #FFDF95;
  text-decoration: underline;
}

.form input, .form select {
  font-size: 1.2rem;
  padding: .2rem;
}

.form footer {
  margin-top: 2rem;
}

.btn {
  border-radius: 6px;
  text-transform: capitalize;
  padding: .3rem .8rem;
  background: white;
  box-shadow: 0px 0px 5px #222;
}

.btn-light, .btn-dark {
  border-radius: 6px;
  text-transform: capitalize;
  padding: .3rem .8rem;
  box-shadow: 0px 0px 5px #222;
}

.btn-light {
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

.btn-light:hover {
  background-color: #3E721D;
  color: white;
  border: none;
}

.btn-dark {
  background-color: #3E721D;
  color: white;
}

.btn-dark:hover {
  color: black;
}